*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

menu{
    height:150px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    background:linear-gradient(
        to bottom,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0)
    );
}

.menu-izquierda{
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu-izquierda img{
    height:120px;
    width:auto;
}

.menu-derecha{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.menu-derecha a{
    text-decoration:none;
    color:black;
}

.menu-derecha a:hover{
    color:red;
}

.menu-container{
    display:none;
}

/* MOVIL */

@media (max-width:768px){

    menu{
        height:120px;
    }

    .menu-izquierda img{
        height:90px;
    }

    .menu-container{
        display:flex;
        z-index:1001;
    }

    .hamburger-icon{
        width:35px;
        height:25px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        cursor:pointer;
    }

    .hamburger-icon span{
        width:100%;
        height:4px;
        background:rgb(244, 1, 1);
        border-radius:5px;
    }

    .menu-derecha{
        position:fixed;
        top:0;
        right:-260px;
        width:250px;
        height:100vh;

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:30px;

        background:rgba(255, 255, 255, 0);
        backdrop-filter:blur(10px);

        transition:all .3s ease;
        z-index:1000;
    }

    .menu-derecha a{
        color:rgb(0, 0, 0);
        font-size:20px;
    }

    .menu-derecha.menu-derecha-open{
        right:0;
    }
}